@using EduTrail.Domain.Entities

@switch (AssignmentContent.ContentType)
{
    case AssignmentContentType.Pdf:
        <iframe src="@contentUrl" width="100%" height="600px"></iframe>
        break;
    default:
        <p>@AssignmentContent.ContentUrl</p>
        break;
}

@code {
    [Parameter]
    public AssignmentContent AssignmentContent { get; set; }

    private bool showPopup = false;
    private string contentUrl = string.Empty;

    protected override Task OnInitializedAsync()
    {
        if (AssignmentContent?.ContentType is AssignmentContentType.Pdf)
        {
            contentUrl = AssignmentContent.ContentUrl;
        }
        return base.OnInitializedAsync();
    }

    private void OpenPdfPopup()
    {
        showPopup = true;
    }

    private void ClosePdfPopup()
    {
        showPopup = false;
    }
}