@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using EduTrail.Infrastructure.Identity
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@layout EduTrail.WebUI.Components.Layout.AccountLayout

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Anmelden</PageTitle>

<h1>In Edu-Trail anmelden</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating">
                    <label for="email" class="form-label">E-Mail oder Nutzername</label>
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@beispiel.de" />
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating">
                    <label for="password" class="form-label">Passwort</label>
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Passwort" />               
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox">
                    <label class="form-label">
                        <label class="container">
                            Angemeldet bleiben
                            <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                            <span class="checkmark"></span>
                        </label>                       
                    </label>
                </div>
                <div class="btns">
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                    <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register/Student", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))" class="btn btn-secondary">Registrieren</a>
                </div>
                <div>
                    <p>
                        <a href="Account/ForgotPassword">Passwort vergessen?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register/Teacher", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Lehrerzugang erstellen</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl ?? "/");
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
